html, body {
  margin: 0;
  padding: 0;
}
canvas{
  border: 2px solid black;
  margin-left: 0.5%;
  margin-right: 0.5%;
  margin-top : 0.5%;
  margin-bottom : 0.5%;
}
/* @media screen and (min-width: 320px) and (orientation: portrait) {
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    height: 100vw;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }
} */